html {
    height: 100%;
    background-color: black;
    color: white;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}
a {
    text-decoration: none;
    color: #00ccff;
}
a:visited {
    color: #00ccff;
}
.main {
    display: flex;
    justify-content: space-around;
    min-height: 65%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.footer {
    background-color: #f1c40f;
    font-size: 12px;
}
.social {
    display: flex;
    justify-content: space-around;
}
.header {
    color: #f1c40f;
    text-align: center;
    margin: 20px;
    font-size: 60px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    border: 3px solid #f1c40f;
    margin: 5px;
}
#logo {
    height: 20%;
    margin: 10px;
}
.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thumbnail-image{
    display: flex;
    height: 400px;
    margin: 50px;
    justify-content: center;
    border: 3px solid #f1c40f;
}
.thumbnail{
    display: flex;
    justify-content: center;
}
#textImage{
    border: 0px solid black;
}