html {
    height: 100%;
    background-color: black;
    color: white;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #f1c40f;
}
a:visited {
    color: #00ccff;
}
.main {
    display: flex;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.footer {
    background-color: #f1c40f;
}
.social {
    display: flex;
    justify-content: space-around;
}
.header {
    color: #f1c40f;
    text-align: center;
    margin: 20px;
    font-size: 30px;
}
.navbar {
    display: flex;
    justify-content: space-around;
}
#logo {
    height: 20%;
    margin: 10px;
}